@charset "UTF-8";

* {
	margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "PingFang-SC-Bold","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif,"Helvetica Neue",Helvetica;
  font-size: 14px;
  color: #333;
  background-color: #fff!important;
}
a{
  color: #1890FF;     
  text-decoration:none;
}
ul,ol{
	list-style:none;
}
html, body, #root, .App {
  height: 100%;
  overflow: hidden;
}
img {
  max-width: 100%;
}
.App {
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1350064_y29g1szesyl.eot');
  src: url('//at.alicdn.com/t/font_1350064_y29g1szesyl.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1350064_y29g1szesyl.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1350064_y29g1szesyl.woff') format('woff'),
  url('//at.alicdn.com/t/font_1350064_y29g1szesyl.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1350064_y29g1szesyl.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  height: 100%;
}
.list-item {
  padding-bottom: 10px;
  background: #f4f5f5;
  cursor: pointer;
  .box {
    background: #fff;
    padding: 10px;
    overflow: hidden;
    .box-header {
      font-size: 12px;
      color: #999;
    }
    .box-body {
      margin: 6px 0 12px;
      font-size: 16px;
      color: #333;
      line-height: 1.4;
      font-weight: bold;
    }
    .box-footer {
      .item-box {
        margin-right: 20px;
        color: #b2bac2;
        font-size: 12px;
        vertical-align: middle;
      }
      .icon {
        margin-right: 5px;
        vertical-align: middle;
      }
      .number {
        font-weight: bold;
        vertical-align: middle;
      }
    }
  }
}

.user-card {
  width: 100%;
  height: 0;
  padding-top: 48%;
  position: relative;
  .card-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../assets/img/user_card.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3%;
    .avatar-box,
    .name-box {
      width: 50%;
      float: left;
      height: 100%;
      vertical-align: middle;
    }
    .avatar-box {
      text-align: center;
      padding-top: 10%;
    }
    .avatar {
      width: 50%;
      height: auto;
      border: 2px solid #fff;
      border-radius: 50%;
      vertical-align: middle;
    }
    .name-box {
      padding-top: 15%;
    }
    .name {
      color: #fff;
      font-size: 1.43rem;
    }
  }
}

.view {
  overflow-y: auto;
  max-height: 100%;
  font-size: 15px;
  line-height: 1.75;
  padding: 0 20px 30px;
  .artice-info {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
    .info-item {
      margin-right: 15px;
    }
  }
  pre {
    overflow: auto;
    word-wrap: normal;
    margin: 0;
    padding: .85em 1em;
    margin-bottom: 1.275em;
    background: #f7f7f7;
  }
}